<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>CustomWebApp</display-name>
    <welcome-file-list>


        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app> display the custom id </web-app?

</web-app display the custom id </web-app/

welcome -file index.jsp</welcom -field choise mertics tab, column

web-application, display the custom id web/-app,

welcome-file-list>

wind line to be appiled-add
